In [1]:
import pandas as pd 
import numpy as np
import scipy as scp
import matplotlib as mlp
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
from sklearn import preprocessing
import xgboost as xgb
from sklearn.cross_validation import train_test_split

C:\Users\Ankit\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df=pd.read_csv('data_stocks.csv')

In [3]:
df.head()

,DATE,SP500,NASDAQ.AAL,NASDAQ.AAPL,NASDAQ.ADBE,NASDAQ.ADI,NASDAQ.ADP,NASDAQ.ADSK,NASDAQ.AKAM,NASDAQ.ALXN,...,NYSE.WYN,NYSE.XEC,NYSE.XEL,NYSE.XL,NYSE.XOM,NYSE.XRX,NYSE.XYL,NYSE.YUM,NYSE.ZBH,NYSE.ZTS
0,1491226200,2363.6101,42.3300,143.6800,129.6300,82.040,102.2300,85.2200,59.760,121.52,...,84.370,119.035,44.40,39.88,82.03,7.36,50.22,63.86,122.000,53.350
1,1491226260,2364.1001,42.3600,143.7000,130.3200,82.080,102.1400,85.6500,59.840,121.48,...,84.370,119.035,44.11,39.88,82.03,7.38,50.22,63.74,121.770,53.350
2,1491226320,2362.6799,42.3100,143.6901,130.2250,82.030,102.2125,85.5100,59.795,121.93,...,84.585,119.260,44.09,39.98,82.02,7.36,50.12,63.75,121.700,53.365
3,1491226380,2364.3101,42.3700,143.6400,130.0729,82.000,102.1400,85.4872,59.620,121.44,...,84.460,119.260,44.25,39.99,82.02,7.35,50.16,63.88,121.700,53.380
4,1491226440,2364.8501,42.5378,143.6600,129.8800,82.035,102.0600,85.7001,59.620,121.60,...,84.470,119.610,44.11,39.96,82.03,7.36,50.20,63.91,121.695,53.240

In [4]:
DATE=df['DATE']

In [5]:

date=DATE
a=[int(str(i)[0:4]) for i in date]
b=[int(str(i)[4:7]) for i in date]
c=[int(str(i)[7:]) for i in date]
df1=pd.DataFrame()
df1['a']=a
df1['b']=b
df1['c']=c
df1.dtypes

a    int64
b    int64
c    int64
dtype: object

In [118]:
for i in df.columns[1:]:
   Y=df[i]
   X_train, X_test, y_train, y_test = train_test_split(df1, Y, test_size=0.24, random_state=42)
               
               # use DMatrix for xgbosot
   import xgboost as xgb
           
           
   bst = xgb.XGBRegressor(max_depth=4, learning_rate=0.1, n_estimators=1000, silent=True, objective='reg:linear', )
   bst.fit(X_train,y_train)
   best_preds = bst.predict(X_test)
   print(i,r2_score(y_test,best_preds),mean_absolute_error(y_test,best_preds))

SP500 0.9992773054002957 0.7911571358873308
NASDAQ.AAL 0.9993652010376802 0.06040344297011565
NASDAQ.AAPL 0.9993523510710433 0.11291402934726107
NASDAQ.ADBE 0.9994809272927889 0.11195018043579684
NASDAQ.ADI 0.9967894174552804 0.07843175337487929
NASDAQ.ADP 0.9991612553593316 0.08203219315832383
NASDAQ.ADSK 0.9996328572490928 0.12930835169482502
NASDAQ.AKAM 0.999763489419877 0.05129028583273941
NASDAQ.ALXN 0.9994724847324339 0.17627537161190793
NASDAQ.AMAT 0.9991501514659923 0.0499963543123113
NASDAQ.AMD 0.9987454882498525 0.029276890769952334
NASDAQ.AMGN 0.9993003652363713 0.13044946897688517
NASDAQ.AMZN 0.9991829846485663 0.7940817718555164
NASDAQ.ATVI 0.9996248085782602 0.06374879925100795
NASDAQ.AVGO 0.9992781204920934 0.24213036559664206
NASDAQ.BBBY 0.9998276552363365 0.034859145720671385
NASDAQ.BIIB 0.9992125001419022 0.2709809169861728
NASDAQ.CA 0.9991210200573135 0.02414330116820451
NASDAQ.CBOE 0.9997647263159583 0.06315544999820547
NASDAQ.CELG 0.9994144150797826 0.11635339763068228
NASDAQ.CERN 0.9992098674726471 0.054374432490754014
NASDAQ.CHRW 0.9994911988086764 0.05484505077232654
NASDAQ.CHTR 0.999599878450324 0.35954642900950695
NASDAQ.CINF 0.9994426180812463 0.053137921207902526
NASDAQ.CMCSA 0.9986363117602882 0.033363407269972445
NASDAQ.CME 0.9989268568999852 0.09172061717537186
NASDAQ.COST 0.9997568434031933 0.11108074186013844
NASDAQ.CSCO 0.9989767383561021 0.023092847913147353
NASDAQ.CSX 0.9991436124956282 0.050647290264616514
NASDAQ.CTAS 0.9992300753877513 0.09804241907985614
NASDAQ.CTSH 0.9997893951123903 0.043558340729573236
NASDAQ.CTXS 0.9989677160907615 0.07242560069341458
NASDAQ.DISCA 0.9995002999123112 0.03215994435712477
NASDAQ.DISCK 0.9996460602776588 0.029940580618246684
NASDAQ.DISH 0.9985991764205471 0.06972407967624447
NASDAQ.DLTR 0.9993345420863188 0.08437901431008185
NASDAQ.EA 0.999725183310113 0.1146795968765974
NASDAQ.EBAY 0.9983103658842553 0.03312286228463417
NASDAQ.EQIX 0.9989893785458116 0.39928940966579946
NASDAQ.ESRX 0.9987662832136367 0.053226262611179596
NASDAQ.ETFC 0.9995930008910754 0.039224359353332
NASDAQ.EXPD 0.9990589844611568 0.0390380473714653
NASDAQ.EXPE 0.9994097478645813 0.14050065101907014
NASDAQ.FAST 0.9990715961518878 0.050098837274727026
NASDAQ.FB 0.9996728980294811 0.12755623392280724
NASDAQ.FFIV 0.9993896171678855 0.10969281857048349
NASDAQ.FISV 0.9987610694601337 0.0819728530575655
NASDAQ.FITB 0.9983970910222059 0.02930609284032722
NASDAQ.FLIR 0.998452965879376 0.030888317426148455
NASDAQ.FOX 0.9989069171429739 0.030045461798869737
NASDAQ.FOXA 0.9989667053855006 0.031983063480888696
NASDAQ.GILD 0.9995712251405146 0.0578742537952972
NASDAQ.GOOG 0.9995257572673616 0.659184942695975
NASDAQ.GOOGL 0.9995110162687916 0.6899937281200305
NASDAQ.GRMN 0.995149837732968 0.04596983370187789
NASDAQ.GT 0.9994080076740463 0.036062330906302564
NASDAQ.HAS 0.9995825545279613 0.08712033552252997
NASDAQ.HBAN 0.9966243348679931 0.015468549610378291
NASDAQ.HOLX 0.9996578224423658 0.03574478118046039
NASDAQ.HSIC 0.9991606343276869 0.1321764580253638
NASDAQ.IDXX 0.9985175130437007 0.15551104069772934
NASDAQ.ILMN 0.9989466479936744 0.20534761116138744
NASDAQ.INCY 0.9975986729506721 0.2290647148921147
NASDAQ.INFO 0.9985417673266733 0.01999317441394908
NASDAQ.INTC 0.9984637794259914 0.026464330958549734
NASDAQ.INTU 0.9997246995283335 0.09138696591280195
NASDAQ.ISRG 0.9997737140179358 0.720077069801737
NASDAQ.JBHT 0.999033764247121 0.08595090073568563
NASDAQ.KHC 0.9993290415636665 0.05881603438665482
NASDAQ.KLAC 0.9990692801225931 0.10302698620625185
NASDAQ.LKQ 0.9995676340335293 0.026530533847593126
NASDAQ.LRCX 0.9994155837367327 0.17390593439696866
NASDAQ.MAR 0.9993537425891723 0.08472880715291599
NASDAQ.MAT 0.9997750183474032 0.025717450696855836
NASDAQ.MCHP 0.99904008826162 0.0803372501354803
NASDAQ.MDLZ 0.9987395950227946 0.031581692296584314
NASDAQ.MNST 0.9996427359077832 0.044449657771737566
NASDAQ.MSFT 0.9993212051642832 0.04971773200951794
NASDAQ.MU 0.9984703266175393 0.045073316625246926
NASDAQ.MYL 0.9995495452476283 0.045839476299131834
NASDAQ.NAVI 0.9990131767309781 0.02144929691077434
NASDAQ.NDAQ 0.9994117452861804 0.047961911628242454
NASDAQ.NFLX 0.9995604828770781 0.19179013907042758
NASDAQ.NTAP 0.9990305216306509 0.03899634440149362
NASDAQ.NTRS 0.9991181676165467 0.08049731776001766
NASDAQ.NVDA 0.9998213312021654 0.23195174261287266
NASDAQ.NWS 0.9978916609312477 0.019382051469744283
NASDAQ.NWSA 0.9986558174957079 0.014005546651171548
NASDAQ.ORLY 0.999797125974011 0.28002795844994754
NASDAQ.PAYX 0.9984004432984168 0.042917684278349466
NASDAQ.PBCT 0.9973515777974777 0.01612281425704095
NASDAQ.PCAR 0.9980710262499914 0.062361844374328484
NASDAQ.PCLN 0.9993575921371834 1.4463204301134636
NASDAQ.PDCO 0.9996528241297807 0.039839941400087335
NASDAQ.PYPL 0.9998443819817046 0.04947685537815862
NASDAQ.QCOM 0.9991304698424831 0.04410211489959369
NASDAQ.QRVO 0.9987429218811107 0.09332168199110877
NASDAQ.REGN 0.999558418548142 0.6938145945116081
NASDAQ.ROST 0.9996005617383663 0.05817878278260857
NASDAQ.SBUX 0.9996402889914318 0.04076850308493762
NASDAQ.SNI 0.9998309367912982 0.07195588471839429
NASDAQ.SNPS 0.9988498019447329 0.050820388118515795
NASDAQ.SPLS 0.9991283209839079 0.00807575494830942
NASDAQ.SRCL 0.9994845034414466 0.07481570273847689
NASDAQ.STX 0.9998024886258053 0.05253518201738643
NASDAQ.SWKS 0.9971028402164419 0.1160335273372915
NASDAQ.SYMC 0.9986573781429572 0.031399424152651574
NASDAQ.TRIP 0.9991639116553318 0.06399109997602964
NASDAQ.TROW 0.9997483786068333 0.06272096221135007
NASDAQ.TSCO 0.9996263011527863 0.07132543646730785
NASDAQ.TXN 0.9962783202389675 0.06454342464638056
NASDAQ.ULTA 0.9996806767000813 0.3140808632525566
NASDAQ.VIAB 0.9997836964170906 0.05016324216044584
NASDAQ.VRSK 0.9990895152116114 0.051363633852513406
NASDAQ.VRSN 0.9995466068266481 0.07297279314771407
NASDAQ.VRTX 0.999726774983595 0.1970311827171215
NASDAQ.WBA 0.9988367369021598 0.060589753360779104
NASDAQ.WDC 0.9980268623315821 0.12237192469213233
NASDAQ.WFM 0.9998597776647898 0.024563331454250846
NASDAQ.WLTW 0.9995634757944586 0.10290774750347476
NASDAQ.WYNN 0.9989370064267427 0.1621012158025639
NASDAQ.XLNX 0.9992828220667768 0.062126060361353784
NASDAQ.XRAY 0.999564867697055 0.05131031961148311
NASDAQ.ZION 0.9988718751110922 0.04951190313422431
NYSE.A 0.9996291921323822 0.04247560565621866
NYSE.AAP 0.9998505883845432 0.1636279003137148
NYSE.ABBV 0.9994914239566248 0.05166021323257956
NYSE.ABC 0.9994882551528189 0.08726872196105069
NYSE.ABT 0.9997009804925956 0.03251050944844432
NYSE.ACN 0.9993867799243882 0.07486492622264557
NYSE.ADM 0.9986327482768523 0.037761066759691854
NYSE.ADS 0.9989502722380825 0.2877945004144279
NYSE.AEE 0.9991913017451918 0.036208800985431826
NYSE.AEP 0.9992812757344286 0.038751180476864946
NYSE.AES 0.9964944740300591 0.012027465182321338
NYSE.AET 0.999720023855912 0.11276669604990151
NYSE.AFL 0.9994928756793107 0.04574246057439506
NYSE.AGN 0.9991924440237957 0.20073564499468324
NYSE.AIG 0.9987289326212111 0.042814709634118375
NYSE.AIV 0.9975727624719466 0.0365685517577632
NYSE.AIZ 0.9990124230673854 0.0852424844301189
NYSE.AJG 0.9982579336106685 0.03527579162178595
NYSE.ALB 0.9988529307438797 0.10817886898922031
NYSE.ALK 0.9991727837069475 0.09527176459317063
NYSE.ALL 0.9997441254941334 0.0490114423896654
NYSE.ALLE 0.9983740592221748 0.059055771512476866
NYSE.AME 0.9995326744759682 0.0426742560699414
NYSE.AMG 0.9992359638041612 0.18632017697779552
NYSE.AMP 0.999394885613593 0.12691417020511167
NYSE.AMT 0.9994734813401126 0.09542948353017094
NYSE.AN 0.9957599769340303 0.05346059027072492

KeyboardInterrupt:

In [146]:
df2=pd.read_csv('CSV.csv')
df2.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2018-05-14  25.700001  25.790001  25.469999  25.540001  25.540001  106100
1  2018-05-15  25.480000  25.559999  25.299999  25.330000  25.330000   96700
2  2018-05-16  25.360001  25.610001  25.180000  25.549999  25.549999  149600
3  2018-05-17  25.549999  25.639999  25.340000  25.480000  25.480000   79800
4  2018-05-18  25.400000  25.670000  25.330000  25.549999  25.549999  124300

In [158]:
date=df2['Date']
a,b,c=[],[],[]
for i in date.str.split('-'):
    a.append(int(i[0]))
    b.append(int(i[1]))
    c.append(int(i[2]))

In [159]:

df3=pd.DataFrame()
df3['a']=a
df3['b']=b
df3['c']=c
df3.dtypes

a    int64
b    int64
c    int64
dtype: object

In [164]:

df3.head()

      a  b   c
0  2018  5  14
1  2018  5  15
2  2018  5  16
3  2018  5  17
4  2018  5  18

In [170]:
for i in df2.columns[1:5]:
   Y=df2[i]
   X_train, X_test, y_train, y_test = train_test_split(df3, Y, test_size=0.24, random_state=42)
               
   import xgboost as xgb
           
           
   bst = xgb.XGBRegressor(max_depth=4, learning_rate=0.1, n_estimators=1000, silent=True, objective='reg:linear', )
   bst.fit(X_train,y_train)
   best_preds = bst.predict(X_test)
   print(i,r2_score(y_test,best_preds),mean_absolute_error(y_test,best_preds))

Open 0.6895158798623735 0.17648958978271523
High 0.6045694695254122 0.1473665914103197
Low 0.6165568978851468 0.16995270910644442
Close 0.344222953263587 0.1838429882405599

In [172]:
y_test-best_preds

0    -0.007334
17    0.050272
15   -0.397978
1    -0.217335
8    -0.160221
5     0.269918
Name: Close, dtype: float64

In [173]:
df4=pd.read_csv('stock.csv')

In [192]:
df4

         Date       Open       High        Low      Close    Volume  Adj Close
0    5-Apr-18  92.440002  93.070000  91.400002  92.379997  29771900  92.379997
1    4-Apr-18  87.849998  92.760002  87.730003  92.330002  35560000  92.330002
2    3-Apr-18  89.580002  90.050003  87.889999  89.709999  37213800  89.709999
3    2-Apr-18  90.470001  90.879997  87.510002  88.519997  48515400  88.519997
4   29-Mar-18  90.180000  92.290001  88.400002  91.269997  45867500  91.269997
5   28-Mar-18  89.820000  91.230003  88.870003  89.389999  52501100  89.389999
6   27-Mar-18  94.940002  95.139999  88.510002  89.470001  56569000  89.470001
7   26-Mar-18  90.610001  94.000000  90.400002  93.779999  56396800  93.779999
8   23-Mar-18  89.500000  90.459999  87.080002  87.180000  44068900  87.180000
9   22-Mar-18  91.269997  91.750000  89.660004  89.790001  38604700  89.790001
10  21-Mar-18  92.930000  94.050003  92.209999  92.480003  24457100  92.480003
11  20-Mar-18  93.050003  93.769997  93.000000  93.129997  23075200  93.129997
12  19-Mar-18  93.739998  93.900002  92.110001  92.889999  33344100  92.889999
13  16-Mar-18  94.680000  95.379997  93.919998  94.599998  49081300  94.599998
14  15-Mar-18  93.529999  94.580002  92.830002  94.180000  27611000  94.180000
15  14-Mar-18  95.120003  95.410004  93.500000  93.849998  32132000  93.849998
16  13-Mar-18  97.000000  97.239998  93.970001  94.410004  35387800  94.410004
17  12-Mar-18  96.500000  97.209999  96.040001  96.769997  26073700  96.769997
18   9-Mar-18  95.290001  96.540001  95.000000  96.540001  36937300  96.540001
19   8-Mar-18  94.269997  95.099998  93.769997  94.430000  25887800  94.430000
20   7-Mar-18  93.160004  93.940002  92.430000  93.860001  26716100  93.860001
21   6-Mar-18  94.339996  94.489998  92.940002  93.320000  22175800  93.320000
22   5-Mar-18  92.339996  94.269997  92.260002  93.639999  23901600  93.639999
23   2-Mar-18  91.580002  93.150002  90.860001  93.050003  32830400  93.050003
24   1-Mar-18  93.989998  94.570000  91.839996  92.849998  37135600  92.849998
25  28-Feb-18  94.839996  95.709999  93.629997  93.769997  31167300  93.769997
26  27-Feb-18  95.739998  95.839996  94.199997  94.199997  25869100  94.199997
27  26-Feb-18  94.400002  95.449997  94.250000  95.419998  30199800  95.419998
28  23-Feb-18  93.599998  94.070000  92.360001  94.059998  26329200  94.059998
29  22-Feb-18  92.050003  92.730003  91.360001  91.730003  24392800  91.730003
..        ...        ...        ...        ...        ...       ...        ...
35  13-Feb-18  88.930000  90.000000  87.800003  89.830002  26407700  89.410004
36  12-Feb-18  88.739998  89.779999  87.930000  89.129997  35720300  88.713272
37   9-Feb-18  86.300003  88.930000  83.830002  88.180000  63499100  87.767715
38   8-Feb-18  89.709999  89.879997  84.760002  85.010002  55628700  84.612534
39   7-Feb-18  90.489998  91.769997  89.199997  89.610001  41107600  89.191025
40   6-Feb-18  86.889999  91.480003  85.250000  91.330002  67998600  90.902985
41   5-Feb-18  90.559998  93.239998  88.000000  88.000000  51031500  87.588554
42   2-Feb-18  93.639999  93.970001  91.500000  91.779999  47867800  91.350883
43   1-Feb-18  94.790001  96.070000  93.580002  94.260002  47227900  93.819290
44  31-Jan-18  93.750000  95.400002  93.510002  95.010002  48756300  94.565781
45  30-Jan-18  93.300003  93.660004  92.099998  92.739998  38635100  92.306389
46  29-Jan-18  95.139999  95.449997  93.720001  93.919998  31569900  93.480873
47  26-Jan-18  93.120003  94.059998  92.580002  94.059998  29172200  93.620216
48  25-Jan-18  92.470001  93.239998  91.930000  92.330002  26383200  91.898315
49  24-Jan-18  92.550003  93.430000  91.580002  91.820000  33277500  91.390694
50  23-Jan-18  91.900002  92.300003  91.540001  91.900002  23412800  91.470322
51  22-Jan-18  90.000000  91.620003  89.739998  91.610001  23601600  91.181679
52  19-Jan-18  90.139999  90.610001  89.660004  90.000000  36875000  89.579201
53  18-Jan-18  89.800003  90.669998  89.660004  90.099998  24159700  89.678734
54  17-Jan-18  89.080002  90.279999  88.750000  90.139999  25621200  89.718552
55  16-Jan-18  90.099998  90.790001  88.010002  88.349998  36599700  87.936920
56  12-Jan-18  88.669998  89.779999  88.449997  89.599998  24271500  89.181076
57  11-Jan-18  88.129997  88.129997  87.239998  88.080002  17808900  87.668182
58  10-Jan-18  87.860001  88.190002  87.410004  87.820000  18652200  87.409393
59   9-Jan-18  88.650002  88.730003  87.860001  88.220001  19484300  87.807526
60   8-Jan-18  88.199997  88.580002  87.599998  88.279999  22113000  87.867249
61   5-Jan-18  87.660004  88.410004  87.430000  88.190002  23407100  87.777672
62   4-Jan-18  86.589996  87.660004  86.570000  87.110001  21912000  86.702721
63   3-Jan-18  86.059998  86.510002  85.970001  86.349998  26061400  85.946266
64   2-Jan-18  86.129997  86.309998  85.500000  85.949997  22483800  85.548134

[65 rows x 7 columns]

In [193]:
date=df4['Date']
a,b,c=[],[],[]
for i in date.str.split('-'):
    a.append(int(i[0]))
    b.append(i[1])
    c.append(int(i[2]))

In [194]:
set(b)

{'Apr', 'Feb', 'Jan', 'Mar'}

In [195]:
m={'Jan':1,'Feb':2,'Mar':3,'Apr':4}

In [196]:
b=[m[i] for i in b]

In [197]:

df5=pd.DataFrame()
df5['a']=a
df5['b']=b
df5['c']=c
df5.dtypes

a    int64
b    int64
c    int64
dtype: object

In [198]:
for i in df4.columns[1:7]:
   Y=df4[i]
   X_train, X_test, y_train, y_test = train_test_split(df5, Y, test_size=0.24, random_state=42)
               
   import xgboost as xgb
           
           
   bst = xgb.XGBRegressor(max_depth=4, learning_rate=0.1, n_estimators=1000, silent=True, objective='reg:linear', )
   bst.fit(X_train,y_train)
   best_preds = bst.predict(X_test)
   print(i,r2_score(y_test,best_preds),mean_absolute_error(y_test,best_preds))

Open 0.41313842924522237 1.650096447296142
High 0.7742061499557356 0.9119206164550766
Low 0.3872326096955585 1.325781433074952
Close 0.5089043635459581 1.348230831115723
Volume 0.07261393218188195 6755565.375
Adj Close 0.5390130405849562 1.3852173536071772