https://stackoverflow.com/questions/419163/what-does-if-name-main-do

https://www.guru99.com/python-tutorials.html

basic

In [6]:
#Switch Case in Python (Replacement)
#What is the replacement of Switch Case in Python ?

switcher = {
        0: 'zero',
        1: "one",
        2: "two",
    }

switcher.get(9, "nothing")
type(switcher)

dict

In [12]:
a={}
a[0]=1
a[1]=2
a[2]=3
a.get(8,'nothing')

'nothing'

In [13]:
for i in range(5):
    for j in range(5):
        if(j==3):
         pass
            
        print(j)
    break

0
1
2
3
4

# special function

In [14]:

# Code to find top 3 elements and their counts
# using most_common
from collections import Counter
 
arr = [1, 3, 4, 1, 2, 1, 1, 3, 4, 3, 5, 1, 2, 5, 3, 4, 5]
dict = Counter(arr)
print(dict.items())

dict_items([(1, 5), (3, 4), (4, 3), (2, 2), (5, 3)])

In [8]:
# Python code to find 3 largest and 4 smallest
# elements of a list.
import heapq
 
grades = [110, 25, 38, 49, 20, 95, 33, 87, 80, 90]
print(heapq.nlargest(3, grades))
print(heapq.nsmallest(4, grades))

[110, 95, 90]
[20, 25, 33, 38]

In [15]:
stocks = {
    'Goog' : 0,
    'FB' : 76.45,
    'yhoo' : 39.28,
    'AMZN' : 0,
    'APPL' : 99.76
    
    
    
    }
 
zipped_1 = zip(stocks.values(), stocks.keys())
 
# sorting according to values
print(sorted(zipped_1))
 
zipped_2 =zip(stocks.keys(), stocks.values())
print(sorted(zipped_2))
#sorting according to keys



#sorting according to keys list
print(sorted(stocks))

[(0, 'AMZN'), (0, 'Goog'), (39.28, 'yhoo'), (76.45, 'FB'), (99.76, 'APPL')]
[('AMZN', 0), ('APPL', 99.76), ('FB', 76.45), ('Goog', 0), ('yhoo', 39.28)]
['AMZN', 'APPL', 'FB', 'Goog', 'yhoo']

In [16]:
#Use *args when we aren't sure how many arguments are going to be passed to a function, 
#or if we want to pass a stored list or tuple of arguments to a function. 

#**kwargs is used when we dont know how many keyword arguments will be passed to a function,
#or it can be used to pass the values of a dictionary as keyword arguments.

def f(*args,**kwargs): 
    print(args, kwargs)



f()
f(1,2,3)                    # (1, 2, 3) {}
f(1,2,3,"groovy")           # (1, 2, 3, 'groovy') {}
f(a=1,b=2,c=3)              # () {'a': 1, 'c': 3, 'b': 2}
f(a=1,b=2,c=3,zzz="hi")     # () {'a': 1, 'c': 3, 'b': 2, 'zzz': 'hi'}
f(1,2,3,a=1,b=2,c=3)        # (1, 2, 3) {'a': 1, 'c': 3, 'b': 2}

() {}
(1, 2, 3) {}
(1, 2, 3, 'groovy') {}
() {'a': 1, 'b': 2, 'c': 3}
() {'a': 1, 'b': 2, 'c': 3, 'zzz': 'hi'}
(1, 2, 3) {'a': 1, 'b': 2, 'c': 3}

# map filter reduce

In [18]:
# Python code to apply a function on a list
income = [10, 30, 75]
 
def double_money(dollars):
    return dollars * 2
 
new_income = list(map(double_money, income))
print(new_income)

[20, 60, 150]

In [19]:
#filter
lis=[1,2,3,1,2,3,44,5,5,3,32,2] 
list(filter(lambda x:x>4,lis))

[44, 5, 5, 32]

In [22]:
#reduce
from functools import reduce
product = reduce(lambda x, y: x *y, [3, 2, 1, 1])
product

6

# Python - Files I/O

In [23]:
str = input("Enter your input: ");
print( "Received input is : ", str)

Enter your input: 1 2 1
Received input is :  1 2 1

In [24]:
n=4
li=[]
for i in range(n):
   li.append(tuple(map(int,list(input().split(' ')))))
print(li)

1 2
12
12 3
1 1
[(1, 2), (12,), (12, 3), (1, 1)]

In [ ]:
set(tuple(map(int,list(input().split(' ')))))

In [ ]:
#str

In [11]:
#Which of the following function convert a String to an object in python?
a=['9']
type(eval(a[0]))

int

# list

In [28]:
#Without using loops: * symbol is use to print the list elements in a single line with space. To print all elements in new lines or separated by space use sep=”\n” or sep=”, ” respectively.
# Python program to print list
# without using loop
 
a = [1, 2, 3, 4, 5]
 
# printing the list using * operator separated 
# by space 
print(*a,sep="|")
 
# printing the list using * and sep operator
print("printing lists separated by commas")
 
print(*a, sep = ", ") 
 
# print in new line
print("printing lists in new line")
 
print(*a, sep = "\n")
a.

1|2|3|4|5
printing lists separated by commas
1, 2, 3, 4, 5
printing lists in new line
1
2
3
4
5

In [3]:
# Python program to print list
# by Converting a list to a 
# string for display
a =["Geeks", "for", "Geeks"]
print(','.join(a))
# print the list using join function()
print(''.join(a))
 
# print the list by converting a list of 
# integers to string 
a = [1, 2, 3, 4, 5]
 
a = [1, 2, 3, 4, 5]
z="sdfgh"
list(z)

Geeks,for,Geeks
GeeksforGeeks

['s', 'd', 'f', 'g', 'h']

In [37]:
# Adds List Element as value of List.
List = ['Mathematics', 'chemistry', 1997, 2000]
List.append(20544)
List.extend([2222])
a=List+[22222222]
print(a)

['Mathematics', 'chemistry', 1997, 2000, 20544, 2222, 22222222]

In [1]:
List = ['Mathematics', 'chemistry', 1997, 2000]
# Insert at index 2 value 10087
List.insert(2,10087)     
print(List)

['Mathematics', 'chemistry', 10087, 1997, 2000]

In [45]:
list = [ 1 , 3 , 5 , 8 , 10 , 13 , 18 , 36 , 78 ]
[x%2 for x in list[::2] if x%2 == 0]
[[0 if (x+y)%2==1  else 1 for x in range(10)] for y in range(10)]

[[1, 0, 1, 0, 1, 0, 1, 0, 1, 0],
 [0, 1, 0, 1, 0, 1, 0, 1, 0, 1],
 [1, 0, 1, 0, 1, 0, 1, 0, 1, 0],
 [0, 1, 0, 1, 0, 1, 0, 1, 0, 1],
 [1, 0, 1, 0, 1, 0, 1, 0, 1, 0],
 [0, 1, 0, 1, 0, 1, 0, 1, 0, 1],
 [1, 0, 1, 0, 1, 0, 1, 0, 1, 0],
 [0, 1, 0, 1, 0, 1, 0, 1, 0, 1],
 [1, 0, 1, 0, 1, 0, 1, 0, 1, 0],
 [0, 1, 0, 1, 0, 1, 0, 1, 0, 1]]

In [53]:
List11 = [1, 2, 3]
List21 = [2, 3, 4, 5]
 

#Add List1 to List2 now
List21.extend(List11) 

print(List21)

#print ([ x for x in z ])

[2, 3, 4, 5, 1, 2, 3]

In [54]:
List = [1, 2, 3, 4, 5]
print(sum(List))

15

In [55]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.count(1))

4

In [28]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.index(2))

1

In [57]:
List = [1, 21, 3, 1, 2, 1, 2, 3, 2, 1]


##index(element,start,end)
#first occurance in  between start and end-1
print(List.index(2,0,8))

print(List.index(2,List.index(2)+1,9))

4
6

In [48]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
print(min(List))
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
print(max(List))

1.054
5.33

In [60]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
 
#Reverse flag is set True
List.sort(reverse=True) 
 
#List.sort().reverse(), reverses the sorted list  
print(List)
sorted(List)

[5.33, 4.445, 3, 2.5, 2.3, 1.054]

[1.054, 2.3, 2.5, 3, 4.445, 5.33]

In [50]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
print(List.pop())

2.5

In [51]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
del List[0]
print(List)

[4.445, 3, 5.33, 1.054, 2.5]

In [61]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
List.remove(3)

print(List)

[2.3, 4.445, 5.33, 1.054, 2.5]

In [63]:
# Printing average of the list
average=2.9876
print("Average of the list =", round(average, 2))

Average of the list = 2.99

In [ ]:
N=int(input())
z=[[i]*i for i in range(1,N)]
z

# tuple

In [74]:
#
#Creating Tuples

# An empty tuple
empty_tuple = ()
print (empty_tuple)

()

In [76]:
# Creating non-empty tuples
 
# One way of creation
tup = 'python', 'geeks','p'
print(tup)
 
# Another for doing the same
tup = ('python', 'geeks')
print(tup)

('python', 'geeks', 'p')
('python', 'geeks')

In [77]:
# Code for concatenating 2 tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'geek')
 
# Concatenating above two
print(tuple1 + tuple2)

(0, 1, 2, 3, 'python', 'geek')

In [82]:
# Code to create a tuple with repetition
 
tuple3 = ('python',)*3
print(tuple3)

('python', 'python', 'python')

In [84]:
#code to test that tuples are immutable
 
tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [92]:
# code to test slicing
 
tuple1 = (0 ,1, 2, 3)
print(tuple1[1:])
print(tuple1[::-1])
print(tuple1[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [98]:
# Code for deleting a tuple
 
tuple3 = ( 0, 1)
tuple2=(3,5)
tuple3+tuple2

(0, 1, 3, 5)

In [101]:
list1 = [0, 1, 2]
print(tuple(list1))
print(tuple('python'))

(0, 1, 2)
('p', 'y', 't', 'h', 'o', 'n')

# set

In [108]:
# Python program to demonstrate differences
# between normal and frozen set
 
# Same as {"a", "b","c"}
normal_set = set(["a", "b","c"])
 
# Adding an element to normal set is fine
normal_set.add("d")
 
print("Normal Set")
print(normal_set)
 
# A frozen set
frozen_set = frozenset(["e", "f", "g"])
 
print("Frozen Set")
print(frozen_set)
 
# Uncommenting below line would cause error as
# we are trying to add element to a frozen set
#frozen_set.add("h")
normal_set

Normal Set
{'a', 'b', 'c', 'd'}
Frozen Set
frozenset({'g', 'e', 'f'})

{'a', 'b', 'c', 'd'}

In [109]:
people = {"Jay", "Idrish", "Archil"}
people.add("Daxit") 
people

{'Archil', 'Daxit', 'Idrish', 'Jay'}

In [110]:
#un
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun" ,"Idrish"}
population = people.union(vampires)
population

{'Archil', 'Arjun', 'Idrish', 'Jay', 'Karan'}

In [111]:
population = people|vampires
population

{'Archil', 'Arjun', 'Idrish', 'Jay', 'Karan'}

In [116]:
population = people or vampires
population
#use

{'Archil', 'Idrish', 'Jay'}

In [117]:
victims = people.intersection(vampires)
victims

{'Idrish'}

In [121]:
victims = people & vampires
victims

{'Idrish'}

In [123]:
safe = people.difference(vampires)
safe

{'Archil', 'Jay'}

In [124]:
safe = people - vampires
safe

{'Archil', 'Jay'}

In [125]:
victims.clear()
victims

set()

In [115]:
# Python program to demonstrate working# of
# Set in Python
 
# Creating two sets
set1 = set()
set2 = set()
 
# Adding elements to set1
for i in range(1, 6):
    set1.add(i)
 

for i in range(3, 8):
    set2.add(i)
 
print("Set1 = ", set1)
print("Set2 = ", set2)
print("\n")
 
# Union of set1 and set2
set3 = set1 | set2# set1.union(set2)
print("Union of Set1 & Set2: Set3 = ", set3)
 
# Intersection of set1 and set2
set4 = set1 & set2# set1.intersection(set2)
print("Intersection of Set1 & Set2: Set4 = ", set4)
print("\n")
 
# Checking relation between set3 and set4
if set3 > set4: # set3.issuperset(set4)
    print("Set3 is superset of Set4")
elif set3 < set4: # set3.issubset(set4)
    print("Set3 is subset of Set4")
else : # set3 == set4
    print("Set3 is same as Set4")
 

if set4 < set3: # set4.issubset(set3)
    print("Set4 is subset of Set3")
    print("\n")
 

set5 = set3 - set4
print("Elements in Set3 and not in Set4: Set5 = ", set5)
print("\n")
 
# checkv if set4 and set5 are disjoint sets
if set4.isdisjoint(set5):
    print("Set4 and Set5 have nothing in common\n")
 

set5.clear()
 
print("After applying clear on sets Set5: ")
print("Set5 = ", set5)

set1 not in set2

Set1 =  {1, 2, 3, 4, 5}
Set2 =  {3, 4, 5, 6, 7}


Union of Set1 & Set2: Set3 =  {1, 2, 3, 4, 5, 6, 7}
Intersection of Set1 & Set2: Set4 =  {3, 4, 5}


Set3 is superset of Set4
Set4 is subset of Set3


Elements in Set3 and not in Set4: Set5 =  {1, 2, 6, 7}


Set4 and Set5 have nothing in common

After applying clear on sets Set5:
Set5 =  set()

True

In [ ]:
rand

# dict

In [116]:
# Initializing dictionary
dic = { 'Name' : 'Nandini', 'Age' : 19 }
 
# using str() to display dic as string
print ("The constituents of dictionary as string are : ")
print (str(dic))
 
# using str() to display dic as list
print ("The constituents of dictionary as list are : ")
print (dic.items())

The constituents of dictionary as string are :
{'Name': 'Nandini', 'Age': 19}
The constituents of dictionary as list are :
dict_items([('Name', 'Nandini'), ('Age', 19)])

In [126]:
# Python code to demonstrate working of
# len() and type()
 
# Initializing dictionary
dic = { 'Name' : 'Nandini', 'Age' : 19, 'ID' : 2541997 }
 
# Initializing list
li = [ 1, 3, 5, 6 ]
 
# using len() to display dic size
print ("The size of dic is : ",end="")
print (len(dic))
 
# using type() to display data type
print ("The data type of dic is : ",end="")
print (type(dic))
 
# using type() to display data type
print ("The data type of li is : ",end="")
print (type(li))

The size of dic is : 3
The data type of dic is : <class 'dict'>
The data type of li is : <class 'list'>

In [127]:
# Initializing dictionary 
dic3 = {}
 
# using copy() to make shallow copy of dictionary
dic3 = dic.copy()
 
# printing new dictionary
print ("The new copied dictionary is : ")
print (dic3.items())
 
# clearing the dictionary
dic.clear()
 
# printing cleared dictionary
print ("The contents of deleted dictionary is : ",end="")
print (dic.items())

The new copied dictionary is :
dict_items([('Name', 'Nandini'), ('Age', 19), ('ID', 2541997)])
The contents of deleted dictionary is : dict_items([])

In [ ]:
#list of list

2

[[0, 0], [0, 0]]

In [128]:
from random import randint

v = [[randint(1, 100) for i in range(10)] for i in range(1,100)]
print(v)

[[5, 60, 16, 41, 89, 92, 35, 23, 15, 77], [82, 6, 18, 37, 100, 28, 15, 89, 64, 43], [85, 3, 31, 22, 21, 97, 39, 20, 71, 100], [32, 70, 91, 80, 33, 53, 52, 44, 94, 11], [8, 67, 54, 73, 46, 86, 17, 17, 69, 76], [66, 9, 42, 13, 44, 55, 37, 36, 18, 80], [19, 49, 68, 47, 35, 42, 86, 55, 23, 45], [32, 67, 13, 58, 10, 31, 2, 96, 71, 77], [86, 98, 50, 31, 98, 15, 92, 12, 61, 30], [71, 55, 31, 29, 79, 14, 57, 39, 74, 23], [6, 81, 63, 97, 21, 25, 100, 23, 39, 94], [22, 48, 32, 78, 18, 59, 73, 82, 11, 93], [4, 6, 75, 42, 58, 28, 25, 53, 83, 68], [27, 47, 76, 6, 45, 99, 19, 85, 68, 47], [61, 37, 8, 20, 74, 82, 2, 32, 43, 58], [19, 43, 90, 9, 75, 100, 66, 48, 100, 1], [58, 11, 18, 93, 98, 46, 42, 26, 72, 66], [13, 62, 100, 98, 27, 52, 2, 78, 54, 46], [100, 85, 16, 33, 50, 69, 63, 43, 31, 50], [27, 100, 78, 40, 9, 35, 7, 96, 99, 19], [85, 90, 61, 7, 22, 38, 59, 70, 53, 18], [13, 51, 23, 12, 45, 91, 24, 34, 19, 28], [40, 63, 53, 94, 3, 21, 48, 87, 8, 31], [46, 93, 6, 56, 52, 29, 43, 97, 35, 14], [3, 24, 5, 45, 55, 3, 38, 37, 24, 15], [67, 81, 27, 13, 61, 11, 37, 51, 35, 67], [26, 57, 21, 62, 5, 45, 81, 47, 91, 46], [96, 42, 47, 17, 90, 38, 48, 44, 41, 11], [2, 2, 60, 33, 18, 69, 32, 99, 24, 60], [17, 84, 66, 12, 26, 51, 22, 79, 35, 14], [65, 70, 2, 45, 25, 91, 78, 77, 74, 73], [4, 86, 80, 23, 50, 15, 25, 96, 59, 22], [26, 42, 98, 5, 88, 85, 73, 16, 33, 91], [18, 47, 30, 100, 82, 94, 88, 34, 33, 57], [43, 34, 83, 40, 25, 14, 16, 72, 20, 68], [33, 90, 55, 89, 21, 19, 21, 51, 29, 25], [15, 93, 66, 66, 99, 51, 100, 71, 40, 89], [75, 59, 35, 74, 34, 12, 17, 63, 97, 32], [27, 87, 41, 27, 74, 85, 92, 18, 31, 72], [87, 31, 5, 53, 15, 14, 43, 24, 3, 17], [58, 4, 6, 12, 36, 54, 10, 85, 51, 30], [93, 89, 68, 24, 44, 89, 85, 30, 84, 35], [72, 63, 80, 75, 37, 36, 97, 6, 14, 77], [31, 90, 48, 73, 14, 44, 33, 44, 93, 65], [76, 11, 97, 68, 4, 47, 60, 21, 85, 86], [70, 73, 38, 21, 16, 18, 88, 38, 24, 76], [31, 76, 86, 39, 75, 85, 34, 22, 34, 89], [94, 78, 50, 30, 32, 38, 37, 84, 18, 64], [93, 44, 59, 34, 19, 43, 38, 93, 56, 4], [91, 50, 51, 72, 29, 17, 60, 29, 37, 41], [42, 45, 13, 24, 75, 53, 63, 78, 38, 43], [37, 1, 28, 93, 68, 79, 67, 6, 37, 84], [56, 35, 94, 33, 26, 44, 88, 13, 52, 32], [21, 83, 7, 54, 78, 90, 74, 75, 78, 78], [47, 64, 30, 68, 24, 3, 50, 33, 92, 57], [77, 57, 16, 78, 14, 92, 62, 94, 15, 76], [84, 2, 12, 76, 41, 45, 85, 54, 20, 51], [48, 18, 95, 100, 73, 81, 47, 57, 93, 51], [72, 72, 55, 26, 16, 73, 56, 81, 49, 99], [90, 12, 61, 91, 27, 12, 40, 42, 27, 38], [65, 83, 63, 9, 89, 50, 32, 29, 83, 25], [26, 100, 42, 37, 85, 63, 93, 35, 85, 88], [33, 16, 15, 24, 75, 11, 17, 80, 22, 35], [87, 14, 59, 69, 90, 92, 59, 91, 67, 60], [1, 87, 68, 89, 7, 70, 60, 1, 73, 26], [30, 44, 75, 54, 26, 37, 34, 97, 78, 22], [53, 8, 5, 2, 54, 79, 36, 24, 49, 65], [17, 21, 23, 48, 38, 77, 37, 45, 93, 29], [100, 13, 53, 77, 41, 18, 15, 32, 36, 93], [32, 17, 4, 42, 73, 40, 97, 45, 43, 49], [73, 87, 31, 28, 72, 66, 61, 55, 39, 44], [60, 63, 37, 31, 83, 66, 44, 40, 70, 80], [18, 34, 58, 20, 29, 29, 45, 22, 73, 93], [44, 37, 2, 1, 86, 100, 99, 26, 68, 2], [23, 26, 79, 19, 8, 100, 9, 39, 91, 96], [96, 44, 28, 34, 96, 78, 70, 65, 100, 13], [84, 18, 59, 77, 46, 13, 48, 38, 13, 72], [72, 49, 8, 27, 26, 67, 73, 22, 50, 86], [15, 61, 43, 96, 60, 10, 100, 87, 16, 53], [27, 36, 90, 12, 11, 34, 32, 58, 97, 22], [55, 21, 95, 76, 31, 57, 14, 99, 30, 82], [9, 28, 21, 60, 68, 21, 20, 33, 19, 73], [67, 10, 40, 96, 45, 28, 62, 82, 76, 12], [95, 100, 46, 10, 8, 92, 56, 32, 73, 61], [90, 20, 1, 34, 43, 15, 14, 3, 73, 87], [23, 95, 35, 22, 99, 15, 45, 88, 97, 51], [66, 12, 58, 88, 28, 51, 69, 4, 24, 23], [72, 83, 54, 54, 31, 39, 65, 68, 1, 18], [100, 91, 45, 36, 25, 64, 66, 14, 37, 73], [7, 30, 86, 23, 26, 65, 94, 41, 19, 33], [15, 74, 31, 79, 87, 29, 95, 41, 47, 45], [82, 89, 63, 75, 29, 80, 81, 10, 52, 10], [55, 65, 53, 43, 64, 72, 86, 9, 79, 53], [39, 40, 19, 20, 55, 56, 42, 67, 25, 4], [6, 21, 84, 53, 68, 51, 95, 52, 20, 97], [65, 73, 86, 63, 93, 51, 8, 3, 28, 44], [83, 68, 20, 98, 55, 16, 93, 46, 69, 29], [93, 41, 17, 56, 3, 39, 64, 2, 85, 89], [35, 81, 69, 37, 70, 61, 92, 4, 60, 29]]

2
4

# type conversion

In [132]:

# Python code to demonstrate Type conversion
# using int(), float()
 
# initializing string
s = "10010"
 
# printing string converting to int 
c = int(s)
print ("After converting to integer : ", end="")
print (c)
# printing string converting to int base 2
c = int(s,9)
print ("After converting to integer base 2 : ", end="")
print (c)
 
# printing string converting to float
e = float(s)
print ("After converting to float : ")
print (e)

After converting to integer : 10010
After converting to integer base 2 : 6570
After converting to float :
10010.0

In [133]:
# Python code to demonstrate Type conversion
# using  ord(), hex(), oct()
 
# initializing integer
s = '4'
 
# printing character converting to integer
c = ord(s)
print ("After converting character to integer : ",end="")
print (c)
 
# printing integer converting to hexadecimal string
c = hex(56)
print ("After converting 56 to hexadecimal string : ",end="")
print (c)
 
# printing integer converting to octal string
c = oct(56)
print ("After converting 56 to octal string : ",end="")
print (c)

After converting character to integer : 52
After converting 56 to hexadecimal string : 0x38
After converting 56 to octal string : 0o70

In [150]:
# Python code to demonstrate Type conversion
# using  tuple(), set(), list()
 
# initializing string
s = 'geeks'
 
# printing string converting to tuple
c = tuple(s)
print ("After converting string to tuple : ",end="")
print (c)
print(tuple())
 
# printing string converting to set
c = set(s)
print ("After converting string to set : ",end="")
print (c)
 
# printing string converting to list
c = list(s)
print ("After converting string to list : ",end="")
print (c)

After converting string to tuple : ('g', 'e', 'e', 'k', 's')
After converting string to set : {'k', 'g', 's', 'e'}
After converting string to list : ['g', 'e', 'e', 'k', 's']

In [153]:
# Python code to demonstrate Type conversion
# using  dict(), complex(), str()
 
# initializing integers
a = 1
b = 2
 
# initializing tuple
tup = (('a', 1) ,('f', 2), ('g', 3))
 
# printing integer converting to complex number
c = complex(1,2)
print ("After converting integer to complex number : ",end="")
print (c)

# printing integer converting to string
c = str(a)
print ("After converting integer to string : ",end="")
print (c)
 
# printing tuple converting to expression dictionary
c = dict(tup)
print ("After converting tuple to dictionary : ",end="")
print (c)

After converting integer to complex number : (1+2j)
After converting integer to string : 1
After converting tuple to dictionary : {'a': 1, 'f': 2, 'g': 3}

# boolean bitwise

In [66]:
a = not True
b = not False
print (a)
print( b)

#bitwise ~
print(~~~~6)

False
True
6

# mathematics

In [12]:
# Python code to demonstrate the working of
# exp() and log()
  
# importing "math" for mathematical operations
import math
  
# returning the exp of 4
print ("The e**4 value is : ", end="")
print (math.exp(4))
  
# returning the log of 2,3
print ("The value of log 2 with base 3 is : ", end="")
print (math.log(111,2))
math.log(1)
math.ceil(2.2)

The e**4 value is : 54.598150033144236
The value of log 2 with base 3 is : 6.794415866350106

3

# Calender

In [13]:
# Python code to demonstrate the working of
# calendar() and firstweeksday()
 
# importing calendar module for calendar operations
import calendar
 
# using calender to print calendar of year
# prints calendar of 2012
print ("The calender of year 201 is : ")
#print (calendar.calendar(2019))
 
#using firstweekday() to print starting day number
print ("The starting day number in calendar is : ",end="")
print (calendar.firstweekday())
print(calendar.leapdays(2011,2019))
print( )

The calender of year 201 is :
The starting day number in calendar is : 0
2

In [149]:

print(calendar.datetime.date(2013,9,2))
print (calendar.leapdays(1950, 2000))
calendar.datetime.time()
calendar.isleap(2008)

2013-09-02
12

True

In [146]:

print (calendar.month(2016,3))

     March 2016
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

# decorater

In [70]:

# Adds a welcome message to the string
# returned by fun(). Takes fun() as
# parameter and returns welcome().
def decorate_message(fun):
 
    # Nested function
    def addWelcome(param):
        return "Welcome to " + fun(param)
 
    # Decorator returns a function
    return addWelcome
 
@decorate_message
def site(site_nam):
    return site_nam;
 
# Driver code
 
# This call is equivalent to call to
# decorate_message() with function
# site("GeeksforGeeks") as parameter
print (site("GeeksforGeeks"))

Welcome to GeeksforGeeks

# http get post

In [15]:
# importing the requests library
import requests
 
# api-endpoint
URL = "http://maps.googleapis.com/maps/api/geocode/json"
 
# location given here
location = "delhi technological university"
 
# defining a params dict for the parameters to be sent to the API
PARAMS = {'address':location}
 
# sending get request and saving the response as response object
r = requests.get(url = URL, params = PARAMS)
 
# extracting data in json format
data = r.json()

# extracting latitude, longitude and formatted address 
# of the first matching location
latitude = data['results'][0]['geometry']['location']['lat']
longitude = data['results'][0]['geometry']['location']['lng']
formatted_address = data['results'][0]['formatted_address']
 
# printing the output
print("Latitude:%s\nLongitude:%s\nFormatted Address:%s"
      %(latitude, longitude,formatted_address))

Latitude:28.7499867
Longitude:77.1183137
Formatted Address:Delhi Technological University, Shahbad Daulatpur Village, Rohini, Delhi, 110042, India

# xml json

In [17]:

>>> import xml.etree.cElementTree as ET
>>> tree = ET.parse('x.xml')

In [18]:
root=tree.getroot()
for child_of_root in root:
    print (child_of_root.tag, child_of_root.attrib)

book {'id': 'bk101'}
book {'id': 'bk102'}
book {'id': 'bk103'}
book {'id': 'bk104'}
book {'id': 'bk105'}
book {'id': 'bk106'}
book {'id': 'bk107'}
book {'id': 'bk108'}
book {'id': 'bk109'}
book {'id': 'bk110'}
book {'id': 'bk111'}
book {'id': 'bk112'}

In [162]:
for elem in tree.iter():
    print (elem.tag, elem.attrib,elem.text)

catalog {}

book {'id': 'bk101'}

author {} Gambardella, Matthew
title {} XML Developer's Guide
genre {} Computer
price {} 44.95
publish_date {} 2000-10-01
description {} An in-depth look at creating applications
      with XML.
book {'id': 'bk102'}

author {} Ralls, Kim
title {} Midnight Rain
genre {} Fantasy
price {} 5.95
publish_date {} 2000-12-16
description {} A former architect battles corporate zombies,
      an evil sorceress, and her own childhood to become queen
      of the world.
book {'id': 'bk103'}

author {} Corets, Eva
title {} Maeve Ascendant
genre {} Fantasy
price {} 5.95
publish_date {} 2000-11-17
description {} After the collapse of a nanotechnology
      society in England, the young survivors lay the
      foundation for a new society.
book {'id': 'bk104'}

author {} Corets, Eva
title {} Oberon's Legacy
genre {} Fantasy
price {} 5.95
publish_date {} 2001-03-10
description {} In post-apocalypse England, the mysterious
      agent known only as Oberon helps to create a new life
      for the inhabitants of London. Sequel to Maeve
      Ascendant.
book {'id': 'bk105'}

author {} Corets, Eva
title {} The Sundered Grail
genre {} Fantasy
price {} 5.95
publish_date {} 2001-09-10
description {} The two daughters of Maeve, half-sisters,
      battle one another for control of England. Sequel to
      Oberon's Legacy.
book {'id': 'bk106'}

author {} Randall, Cynthia
title {} Lover Birds
genre {} Romance
price {} 4.95
publish_date {} 2000-09-02
description {} When Carla meets Paul at an ornithology
      conference, tempers fly as feathers get ruffled.
book {'id': 'bk107'}

author {} Thurman, Paula
title {} Splish Splash
genre {} Romance
price {} 4.95
publish_date {} 2000-11-02
description {} A deep sea diver finds true love twenty
      thousand leagues beneath the sea.
book {'id': 'bk108'}

author {} Knorr, Stefan
title {} Creepy Crawlies
genre {} Horror
price {} 4.95
publish_date {} 2000-12-06
description {} An anthology of horror stories about roaches,
      centipedes, scorpions  and other insects.
book {'id': 'bk109'}

author {} Kress, Peter
title {} Paradox Lost
genre {} Science Fiction
price {} 6.95
publish_date {} 2000-11-02
description {} After an inadvertant trip through a Heisenberg
      Uncertainty Device, James Salway discovers the problems
      of being quantum.
book {'id': 'bk110'}

author {} O'Brien, Tim
title {} Microsoft .NET: The Programming Bible
genre {} Computer
price {} 36.95
publish_date {} 2000-12-09
description {} Microsoft's .NET initiative is explored in
      detail in this deep programmer's reference.
book {'id': 'bk111'}

author {} O'Brien, Tim
title {} MSXML3: A Comprehensive Guide
genre {} Computer
price {} 36.95
publish_date {} 2000-12-01
description {} The Microsoft MSXML3 parser is covered in
      detail, with attention to XML DOM interfaces, XSLT processing,
      SAX and more.
book {'id': 'bk112'}

author {} Galos, Mike
title {} Visual Studio 7: A Comprehensive Guide
genre {} Computer
price {} 49.95
publish_date {} 2001-04-16
description {} Microsoft Visual Studio 7 is explored in depth,
      looking at how Visual Basic, Visual C++, C#, and ASP+ are
      integrated into a comprehensive development
      environment.

In [21]:
import xml.etree.ElementTree
e = xml.etree.ElementTree.parse('x.xml').getroot()
e

In [22]:
import json
from pprint import pprint

data = json.load(open('data.json'))

pprint(data)

FileNotFoundError: [Errno 2] No such file or directory: 'data.json'

In [1]:
#multithreading

In [15]:
import multiprocessing

def worker():
    """worker function"""
    print ("a")
    return

In [16]:
if __name__ == '__main__':
    
    jobs = []
    for i in range(5):
        p = multiprocessing.Process(target=worker)
        jobs.append(p)
        p.start()